@import "tailwindcss";

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

@theme {
    /* --color-*: initial; */
    --color-primary: #4b0092;
    --color-secondary: #2b00c7;
    --color-third: #c400d6;
    --color-background-1: var(--color-primary);
    --color-background-2: var(--color-secondary);
    --color-background-3: var(--color-third);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-hover-primary: #FFFFB8;

    --font-josefin: 'Josefin Sans', serif;
    --font-cinzel: 'Cinzel Decorative', serif;

    --shadow-shape: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);
    --shadow-shape-content: 0px 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.02), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.02);

    --animate-border: border 2s linear infinite;

    @keyframes border {

        to {
            --border-angle: 360deg;
        }
    }
}

body {
    font-family: var(--font-josefin);
    font-weight: 300;
    color: var(--color-text-white);
    background: linear-gradient(132deg, var(--color-background-1), var(--color-background-3), var(--color-background-2));
    background-size: 400% 400%;
    height: 100vh;
    animation: Gradient 15s ease infinite;
}



.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

/* Animate Background */
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}