@import "tailwindcss";

:root {
    --color-primary: #4b0092;
    --color-secondary: #2b00c7;
    --color-accent: #c400d6;
    --color-background-1: #4b0092;
    --color-background-2: #c400d6;
    --color-background-3: #001694;
    --color-text-dark: #ffffff;
    --color-text-light: #000000;

    --font-family: 'Josefin Sans', serif;
}

body {
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--color-text-dark);
    background: linear-gradient(132deg, var(--color-background-1), var(--color-background-2), var(--color-background-3));
    background-size: 400% 400%;
    height: 100vh;
    animation: Gradient 15s ease infinite;
}

h1,
h2 {
    font-family: 'Cinzel Decorative', serif;
}


/*
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
    z-index: -1;
}
    */

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

/* Animate Background */
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}